section {
  &#contact {
    display: grid;
    grid-gap: .7rem;
    grid-template-areas:
    'chevron-up chevron-up chevron-up'
    'contact-heading contact-heading contact-heading'
    'form-row form-row form-row';
    grid-template-columns: repeat(3, 1fr);
    background: #0d1c2b;

    .chevron-up {
      grid-area: chevron-up;
      margin: 0 auto;
    }

    .contact-heading {
      grid-area: contact-heading;
    }

    .form-row {
      grid-area: form-row;
      padding: 0 calc(10%);
      width: 100%;
    }

    #form-name{
      width: 100%;
      min-height: 40px;
      border: none;
      border-radius: 5px;
      margin: 7px 0;

      &:hover {
        @include easeOut;
        border: 3px solid #6dcdef;
      }

    }

    #form-email{
      width: 100%;
      margin: 7px 0;
      min-height: 40px;
      border: none;
      border-radius: 5px;

      &:hover {
        @include easeOut;
        border: 3px solid #6dcdef;
      }
    }

    #form-message{
      width: 100%;
      min-height: 150px;
      margin: 7px 0;
      border: none;
      border-radius: 5px;

      &:hover {
        @include easeOut;
        border: 3px solid #6dcdef;
      }
    }

    #form-submit {
      color: #eaeaea;
      font-size: 1rem;
      min-height: 40px;
      width: 250px;
      margin: 0 calc(50% - 125px);
      background-color: #0d1c2b;
      border: 3px solid #eaeaea;
      border-radius: 5px;
      text-align: center;

      &:hover {
        @include easeOut;
        background-color: #6dcdef;
        cursor: pointer;
      }
    }
  }
}
